body {
    background-color: lightblue;
}

h1 {
    background-color: white;
    color: hotpink;
    text-align: center;
    font-family: Gill Sans;
    font-size: 100%;
    border: 20px;
    margin: 15px;
}

h2 {
    background-color: white;
    color: hotpink;
    text-align: center;
    font-family: Gill Sans;
    font-size: 150%;
    border: 20px;
    margin: 15px;
}

h3 {
    background-color: white;
    color: hotpink;
    text-align: center;
    font-family: Gill Sans;
    font-size: 200%;
    border: 20px;
    margin: 15px;
}

h4 {
    background-color: white;
    color: hotpink;
    text-align: center;
    font-family: Gill Sans;
    font-size: 250%;
    border: 20px;
    margin: 15px;
}

h5 {
    background-color: white;
    color: hotpink;
    text-align: center;
    font-family: Gill Sans;
    font-size: 350%;
    border: 20px;
    margin: 15px;
}

h6 {
    background-color: white;
    color: hotpink;
    text-align: center;
    font-family: Gill Sans;
    font-size: 450%;
    border: 20px;
    margin: 15px;
}

p {
    font-family: Tahoma;
    font-size: 100%;
    text-align: justify;
}